@charset "utf-8";
html
{
	margin: 0;
	padding: 0;
}

body
{
	margin: 0;
	text-align: center;
	background-color: white;
	font-family: Verdana,'Bitstream Vera Sans',sans-serif;
	color: black;
}
.commentaryTitle
{
	text-align: left;
	background-color: white;
	color: gray;
	padding: 4px;
	border: 0;
       width:80px;
	vertical-align: top;	
       border-top: 1px dotted silver;
	font-size: 8pt;
}
.Info
{
       background-color: white;
       padding-right:5px;
	text-align: justify;
	vertical-align: top;
	border-top: 1px dotted silver;
	font-size: 8pt;
}
td ul
{
	margin: 1px 0 3px 0;
	padding-left: 5px;
}
ul li
{
	list-style-type: circle;
}


A.link1:link, A.link1:active, A.link1:active, A.link1:visited
{
	color: maroon;
	text-decoration: none;
}
A.link1:hover
{
	color: maroon;
	text-decoration: underline;
}
.Highlight
{
	background-color: yellow;
	text-decoration: inherit;
	color: inherit;
}

/*  for Authoring Portal Artwork Commentary Preview */
.Contents
{
	vertical-align: top;
	text-align: left;
	overflow: hidden;
}
#MasterPanel
{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 450px;
	overflow: auto;
}

.Panel
{
	width: auto;
	height: auto;
	display: none;
	overflow: visible;
	padding: 0 20px 0 15px;
}
.Panel#Panel1
{
	display: block;
}