@charset "utf-8";
/* CSS Document */

.NavBar
{
clear:none; 
}
.NavBar button
{
	font-size: 8pt;
	padding: 1px 3px 1px 3px;
	vertical-align: middle;
}
.NavBar button img
{
	vertical-align: middle;
}

.EntriesList
{
border-width:1px 1px 1px 1px; border-color: silver; border-style: solid;

font-family: Tahoma;
}
.EntriesList .Header td
{
	text-align: center;
	font-weight: bold;
	background-image: url(../images/shade-browntab.png);
	background-position: left top;
	background-repeat: repeat-x;
	color: maroon;
	border-right:1px dotted silver;
}
.Even
{
	background-image: url(../images/shade-silverrow-big.png);
	background-position: left center;
	background-repeat: repeat-x;
}
.EditBtn		
{	width: 35px;		
    padding: 2px 4px 2px 4px;
	vertical-align: middle;
	text-align:center;
	border-right:1px dotted silver;	
}
.EditBtn button { padding: 2px;}
.aaa { vertical-align:middle; text-align:center; }
.Event 		
{	text-align: left;	
    padding: 2px 4px 2px 4px;
	vertical-align: middle;
	border-right:1px dotted silver;	
}
.Mid			
{	width: 28px;	    padding: 2px 4px 2px 4px;
	vertical-align: middle;
	text-align:center;
	border-right:1px dotted silver;
}
.Title
{	width: 185px;		
    padding: 2px 4px 2px 4px;
	vertical-align: middle;
	text-align:left;
	border-right:1px dotted silver;	
}
.Siglum	
{	width: 33px;	    padding: 2px 4px 2px 4px;
	vertical-align: middle;
	text-align:center;
	border-right:1px dotted silver;
}
.Date
{	width: 60px;	    
	padding: 2px 4px 2px 4px;
	vertical-align: middle;
	text-align:center;
	border-right:1px dotted silver;
}
/* For WritingTerm.php */
.SearchForm select
{   
	font-family: Arial,Helvetica,sans-serif;
	font-size: 8pt;
	vertical-align: middle;
}
.SearchForm .subbutton
{   
	font-family: Arial,Helvetica,sans-serif;
	font-size: 8pt;
	vertical-align: middle;
}
.id	
{	width: 35px;	    padding: 2px 4px 2px 4px;
	vertical-align: middle;
	text-align:center;
	border-right:1px dotted silver;
}
.term	
{	width: 150px;	    padding: 2px 4px 2px 4px;
	vertical-align: middle;
	text-align:left;
	border-right:1px dotted silver;
}
.Category
{	width: 60px;	    padding: 2px 4px 2px 4px;
	vertical-align: middle;
	text-align:center;
	border-right:1px dotted silver;
}
.Morph
{	width: 100px;	    padding: 2px 4px 2px 4px;
	vertical-align: middle;
	text-align:left;
	border-right:1px dotted silver;
}
.translation
{	width: 200px;	    padding: 2px 4px 2px 4px;
	vertical-align: middle;
	text-align:left;
	border-right:1px dotted silver;
}
.related
{	    padding: 2px 4px 2px 4px;
	vertical-align: middle;
	text-align:left;
	border-right:1px dotted silver;
}

